/* Global Settings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* Body Settings */
body {
    font-family: "Montserrat", serif;
}

.menu-item .menu-item-social, .menu-item .menu-item-creator {
    display: none;
}

@media (max-width: 640px) {
    .menu-item .menu-item-social, .menu-item .menu-item-creator {
        display: block;
    }
}